{% load static %}

<link rel="stylesheet" href="{% static 'styles/navbar.css' %}">
<div class="navbar">
    <a href="/" class="logo">LOGO</a>

    <form method="GET" action="{% url 'home' %}" class="search-form">
        <input type="text" name="q" class="search-input" placeholder="Search Products..." />
        <button type="submit" class="search-button">IMG</button>
    </form>

    <div class="navbar-links">
        <div class="navbar-link-option">
            {% if request.user.is_authenticated %}
            <a href="{% url 'logout' %}" class="navbar-link">Logout</a>
            {% else %}
            <a href="{% url 'login' %}" class="navbar-link">Login</a>
            {% endif %}
        </div>
        <div class="navbar-link-option">
            {% if request.user.is_authenticated %}
                <div class="dropdown">
                    <button class="dropdown-button">Settings</button>
                    <div class="dropdown-content">
                        <a href="{% url 'settings' %}" class="dropdown-link">Settings</a>
                        <a href="{% url 'add-product' %}" class="dropdown-link">Add Product</a>
                    </div>
                </div>
            {% endif %}
        </div>

    </div>
</div>
<hr>
